<% layout('../layouts/boilerplate.ejs') -%>

    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <h3 class="text-center">Create your group</h3>
            <form action="/new" method="POST">
                <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>

                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="5" required></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="image">Image URL</label>
                    <input type="text" class="form-control" id="image" name="image" required>
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2" for="partecipants">Participants:</label>
                    <div id="listPartecipants">
                        <div class="input-group mb-2">
                            <input type="text" name="partecipants[]" class="form-control" required>
                            <button type="button" class="btn btn-outline-danger removePartecipant">X</button>
                        </div>
                    </div>
                    <button id="addPartecipant" type="button" class="btn btn-outline-primary mt-2">+ Add
                        Participant</button>
                </div>

                <button type="submit" class="btn btn-success btn-lg w-100">Submit</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const addBtn = document.getElementById("addPartecipant");
            const list = document.getElementById("listPartecipants");

            addBtn.addEventListener("click", function (event) {
                event.preventDefault();
                const div = document.createElement("div");
                div.className = "input-group mb-2";

                const input = document.createElement("input");
                input.type = "text";
                input.name = "partecipants[]";
                input.className = "form-control";
                input.autofocus = true;

                const removeBtn = document.createElement("button");
                removeBtn.type = "button";
                removeBtn.className = "btn btn-outline-danger removePartecipant";
                removeBtn.innerHTML = "X";
                removeBtn.addEventListener("click", function () {
                    div.remove();
                });

                div.appendChild(input);
                div.appendChild(removeBtn);
                list.appendChild(div);
            });

            document.addEventListener("click", function (event) {
                if (event.target.classList.contains("removePartecipant")) {
                    event.target.parentElement.remove();
                }
            });
        });
    </script>
