<% layout('./layouts/layout') -%>

<div class="row">
    <div class="col-md-6 offset-md-3 my-5">
        <h3 class="text-center">Crea un nuovo gruppo!</h3>
        <form action="/groups" method="POST" novalidate class="validated-form">
            <div class="form-group mb-3">
                <label for="name">Titolo</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="valid-feedback">
                    Tutto bene!
                </div>
                <div class="invalid-feedback">
                    Perfavore scrivi un titolo!
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="description">Descrizione</label>
                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="image">URL Immagine</label>
                <input type="url" class="form-control" id="image" name="image">
            </div>

            <div class="form-group mb-3">
                <h5>Aggiungi Amici al Gruppo</h5>
                <div id="friendsList" class="mb-3">
                    <% if(user && user.friends && user.friends.length > 0) { %>
                        <% for(let friend of user.friends) { %>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="participants[]" value="<%= friend._id %>" id="friend-<%= friend._id %>">
                                <label class="form-check-label" for="friend-<%= friend._id %>">
                                    <%= friend.username || friend.email %>
                                </label>
                            </div>
                        <% } %>
                    <% } else { %>
                        <p>Non hai ancora amici. Aggiungi amici per invitarli ai tuoi gruppi.</p>
                    <% } %>
                </div>
            </div>

            <div class="form-group mb-4">
                <h5>Invita Altri Partecipanti</h5>
                <div id="invitedList">
                    <div class="invited-user-row mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="invitedEmails[]" placeholder="Email">
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="invitedNames[]" placeholder="Nome visualizzato">
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-outline-danger remove-invited">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="addInvited" type="button" class="btn btn-outline mt-2">+ Invita Partecipante</button>
            </div>
            
            <button type="submit" class="button btn-lg w-100">Crea Gruppo</button>
        </form>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const addInvitedBtn = document.getElementById("addInvited");
    const invitedList = document.getElementById("invitedList");
    
    addInvitedBtn.addEventListener("click", function(event) {
        event.preventDefault();
        
        const newRow = document.createElement("div");
        newRow.className = "invited-user-row mb-2";
        newRow.innerHTML = `
            <div class="row">
                <div class="col-md-6">
                    <input type="email" class="form-control" name="invitedEmails[]" placeholder="Email">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="invitedNames[]" placeholder="Nome visualizzato">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-outline-danger remove-invited">X</button>
                </div>
            </div>
        `;
        
        invitedList.appendChild(newRow);
        
        newRow.querySelector(".remove-invited").addEventListener("click", function() {
            this.closest(".invited-user-row").remove();
        });
    });
    
    document.querySelectorAll(".remove-invited").forEach(btn => {
        btn.addEventListener("click", function() {
            this.closest(".invited-user-row").remove();
        });
    });
});
</script>
